*.png
*.jpg
*.jpeg
.ipynb_checkpoints/
*.pth
*.torchscript
*.onnx
*.pt
__pycache__
*.wav
*.mp4
*.bin
*.safetensors
*.gif
wandb/
game_animation/
game_animation_v1/
!data/high_quality.zip
# MacOS
.DS_Store/
.DS_Store
ssd_data_HQ/
*.zip
ssd_data_HQ_old/
ModelTraining/data/